<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "build/css/main.css"}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
    {{{block "styles"}}}
    <script type="module" src="{{asset "build/js/app.min.js"}}"></script>
    {{ghost_head}}
</head>

<body class="{{body_class}}">

  {{> "header"}}

  <main class="xc-body">

    {{{body}}}

  </main>

  {{> "footer"}}

  {{!-- <foot> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  {{> "scripts"}}

  {{{block "scripts"}}}

  {{ghost_foot}}
</body>

</html>