<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "dist/css/main.css"}}">

    {{{block "styles"}}}

    {{ghost_head}}
</head>

<body class="{{body_class}}">

  <div class="blockhead">
    {{> "header"}}
    {{#is "home"}}
      {{> "heros/home"}}
    {{/is}}
  </div>

  <main class="xc-body">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

  </main>

  {{> "footer"}}

  {{!-- <foot> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="{{asset "dist/js/app.js"}}"></script>

  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

  {{> "scripts"}}

  {{{block "scripts"}}}

  {{ghost_foot}}
</body>

</html>