{{!< default}}

{{#post}}

<section id="post" class="xc-article{{post_class}}">

    <header class="xc-article__header" style="background-image: url('{{img_url feature_image size="xl"}}');">
      <div class="burn-overlay"></div>
      <div class="blur-overlay"></div>
      {{#if feature_image}}
        <figure class="xc-article__feature-image">
          <a rel="lightbox" class="glightbox" href="{{img_url feature_image size="xl"}}" data-title="{{title}}" data-description="{{excerpt}}" data-gallery='{{tags from="2" limit="1" autolink="false"}}'>
            <img
              srcset="{{img_url feature_image size="s"}} 300w,
                  {{img_url feature_image size="m"}} 720w,
                  {{img_url feature_image size="l"}} 960w,
                  {{img_url feature_image size="xl"}} 1200w,
                  {{img_url feature_image size="xxl"}} 2000w"
              sizes="(max-width: 1200px) 100vw, 1200px"
              loading="lazy"
              src="{{img_url feature_image size="xl"}}"
              alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
          </a>
          {{#if feature_image_caption}}
            <figcaption>{{feature_image_caption}}</figcaption>
          {{/if}}
        </figure>
      {{/if}}
      <div class="xc-article__post-meta xc-container">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
        <h4 class="xc-article__title">{{title}}</h4>
        {{#if custom_excerpt}}
          <p class="xc-article__excerpt">{{custom_excerpt}}</p>
        {{/if}}
        <article class="xc-article__content xc-container">
          {{content}}
        </article>
      </div>
    </header>

</article>

{{/post}}
