<h4>Collections</h4>
<ul>
  <li>
    <a href="{{@site.url}}/shop" class="emphasis-new">New Items!</a>
  </li>
  <li>
    <a href="{{@site.url}}/shop/apparel">Apparel</a>
  </li>
  <li>
    <a href="{{@site.url}}/shop/glitter">Glitter Grips</a>
  </li>
  <li>
    <a href="{{@site.url}}/shop/art">Fine Art Prints</a>
  </li>
  <li>
    <a href="{{@site.url}}/shop/jewelry">Jewelry</a>
  </li>
  <li>
    <a href="{{@site.url}}/shop/misc">Accessories</a>
  </li>
</ul>
