<div class="xc-hero" data-flex="row">
  <div class="parallax-container jarallax" data-jarallax data-video-src="mp4:{{asset "vid/mk-obsidian.mp4"}}"></div>
  <div class="xc-hero__content swiper" data-column="12">
    <div class="xc-slider swiper-wrapper">

      {{! First 3 sides will be pulled from most recent posts tagged under "shop" and marked "featured post". If no posts are marked as featured, will return most recent posts only tagged as "shop" }}
      {{#get "posts" limit="3" filter="featured:true+primary_tag:shop" as |products|}}
        {{#foreach products visibility="all"}}
          <div class="swiper-slide" data-flex="row">
            <article class="xc-slider__content" data-column="4">
              <span class="xc-slider__post-meta" data-swiper-parallax="1000" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1800">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
              </span>
              <h3 class="xc-slider__post-title" data-swiper-parallax="-2000" data-swiper-parallax-duration="800">{{title}}</h3>

              {{#if custom_excerpt}}
                <p class="xc-slider__post-excerpt" data-swiper-parallax="-2000">{{custom_excerpt}}</p>
              {{else}}
                <p class="xc-slider__post-excerpt" data-swiper-parallax="-3000" data-swiper-parallax-duration="1200">{{excerpt}}</p>
              {{/if}}
            </article>
            <div class="xc-slider__shop-item" data-column="8"
              data-swiper-parallax="-100"
              data-swiper-parallax-opacity="0"
              data-swiper-parallax-scale="0.25"
              data-swiper-parallax-duration="900">
              {{content}}
            </div>
          </div>
        {{/foreach}}
      {{/get}}


      {{! Three more slides which display featured article posts, excluding those tagged under "shop" }}
      {{#get "posts" limit="3" filter="featured:true+tag:-shop" as |featured|}}
        {{#foreach featured visibility="all"}}
          <div class="swiper-slide" data-flex="row">

            <article class="xc-slider__content" data-column="4">
              <span class="xc-slider__post-meta" data-swiper-parallax="1000" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1800">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
              </span>
              <h3 class="xc-slider__post-title" data-swiper-parallax="-2000" data-swiper-parallax-duration="800">{{title}}</h3>

              {{#if custom_excerpt}}
                <p class="xc-slider__post-excerpt" data-swiper-parallax="-2000">{{custom_excerpt}}</p>
              {{else}}
                <p class="xc-slider__post-excerpt" data-swiper-parallax="-3000" data-swiper-parallax-duration="1200">{{excerpt}}</p>
              {{/if}}


            </article>

            {{#if feature_image}}
              <figure class="xc-slider__post-img" data-column="8"
                data-swiper-parallax="-100"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax-scale="0.25"
                data-swiper-parallax-duration="900">

                  <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                          {{img_url feature_image size="m"}} 600w,
                          {{img_url feature_image size="l"}} 1000w,
                          {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 1000px) 1000px, 2000px"
                    loading="lazy"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"

                  />
                  {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                  {{/if}}
              </figure>
            {{/if}}
          </div>
        {{/foreach}}
      {{/get}}
    </div>
  </div>
  <div class="xc-slider__nav" style="--swiper-navigation-size: 4.2rem; --swiper-navigation-color: #aaaaaa;">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
